body{
	background: url(https://picsum.photos/1080/790) ;
	background-repeat: no-repeat;
	background-size: cover;

}
img{
	border: 4px solid white;
	border-radius: 75px;
	box-shadow:  1px 1px 2px black;

}
section{
	padding-top: 80px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
p, form{
	font-size: 20px;
	text-align: center;
}
p{
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;

}
input {
	border:  none;
	padding: 7px 2px;
}
button {
	padding:  7px 10px;
	background:  red;
	border:  none;
	color: #fff;
}